.App {
  text-align: center;
}

.App-header {
  background-color: #282c34; /* Un tono oscuro para el encabezado */
  min-height: 10vh; /* Una altura mínima para que se vea */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Tamaño de fuente responsivo */
  color: white; /* Texto blanco */
  margin-bottom: 20px; /* Espacio debajo del encabezado */
}

h1 {
    margin: 0; /* Elimina el margen por defecto del h1 */
    padding: 20px 0; /* Añade un poco de relleno arriba y abajo */
}